<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KnowledgeLabs</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="./js/jquery-1.11.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</head>
<body>
    
    <nav class="navbar navbar-inverse header navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./index.html">Knowledge Labs</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="./index.html">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="./searchjobs.html">Jobs</a></li>
                    <li><a href="./home.html">Courses</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">SomeLink</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Status<span class="caret"></span></a>
                        <ul class="dropdown-menu" id="status-menu">
                            <li><a href="#">OK</a></li>
                            <li><a class="active" href="#">Help</a></li>
                            <li><a href="#">Emergency</a></li>
                            <li><a href="#">Undefined</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<br><br><br><br>
<div class="container-fluid row">

    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="login-box">
            <div class="form-title">
                <h1><a href="/login" class="title_lable active">Log in</a> / <a href='signup' class="title_lable">Sign up</a></h1>
            </div>
            <form class="form-horizontal" data-target="<%=stage %>" action="<%=formTarget %>" method="POST" onsubmit="return passwordCheck()" id="logForm"> <!-- Form -->
              <div class="form-group">
                <label for="inputUname" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="username" id="inputUname" placeholder="User Name">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                </div>
              </div>
              <div class="form-group hide" id="pwd2" >
                <label for="inputPassword2" class="col-sm-2 control-label ">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword2" placeholder="Password Again">
                </div>
              </div>
              <div class="warning " id="warningbar">
                  <p></p>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Log in</button>
                  <a type="submit" class="btn btn-primary" id="permission" onclick="getPermission()">Signup with Course Hero</a>
                </div>
              </div>
            </form> <!-- /Form -->
        </div>
    </div>
</div>
<script>
  function getPermission() {
    window.open("https://www.coursehero.com/api/authorize/?api_key=vH8gWDxAsvy9VuhdnQ7AZWsg6ffS4hTy&state=STATE");
  }
</script>>
</body>
</html>
