.navbar {border-radius: 0}
.dropdown-menu li a.active {background-color: #337AB7; color: white;}

.navbar-inverse{background-color: #0084B4}
.navbar-inverse .navbar-brand {color:#DFDFDF;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{background-color: #3B94D9;}
.navbar-inverse .navbar-nav>li>a {color: #DFDFDF;}


.segment {border-bottom: 1px solid #790202;position: relative;}
.blank{height:50px;}

#viewport {
    margin: 0 auto;
}

.jobs{font-size: 0;height:200px;overflow-x: scroll;overflow-y: hidden;white-space: nowrap;cursor: pointer;position:relative; box-shadow: black 5px 0px 34px 0px;background-color: #D9EFF7}
.job{display: inline-block;width: 400px; height:100%;}
.job:hover {background-color: rgba(117, 54, 54, 0.17);}
.job p{font-size: 12px;}

.importphase {
    text-align: center;
    margin-top: 180px;
}
.importbtn {
    margin-top: 40px;
}

.wrapper{
    margin-top:30px;
}

.genbtn{
    text-align: center;
}

#logo{
	height: 133px; 
	width: 455px;
}

#comment{
	color:#333333;
	text-align: left;
	margin-left: 0.55cm;
}

#coursetable td{
	text-align: center;
	border: 0;
}

#coursetable .selected{
	background: #1B9AF7;
	color: white;
	class: button-glow;
}

#coursetable .course:hover{
	background-color: rgb(136, 202, 251);
}

#coursetitle {
	color: #55acee;
	font-size: 36px;
	text-align: center;
}

.job {position: absolute;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;}

.job.mi {
    opacity: 0;
    transform:scale(0.001);
    -ms-transform:scale(0.001);     /* IE 9 */
    -moz-transform:scale(0.001);    /* Firefox */
    -webkit-transform:scale(0.001); /* Safari 和 Chrome */
    -o-transform:scale(0.001);  /* Opera */
}

.job a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cover{
    width: 100%;height: 100%;position: absolute;
    background-color: rgba(0,0,0,0.6);z-index:8;
    top:0;left:0;
    color:#EEE;
    text-align: center;
}

.cover h3{margin-top: 78px;}

.job a:hover .cover{
    display: block;
};
