.navbar {border-radius: 0}
.dropdown-menu li a.active {background-color: #337AB7; color: white;}

.navbar-inverse{background-color: #0084B4}
.navbar-inverse .navbar-brand {color:#DFDFDF;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{background-color: #3B94D9;}
.navbar-inverse .navbar-nav>li>a {color: #DFDFDF;}


.segment {border-bottom: 1px solid #790202;}
.blank{height:50px;}

#viewport {
    margin: 0 auto;
}

.jobs{font-size: 0;border-bottom: 1px solid #790202;height:200px;overflow-x: scroll;overflow-y: hidden;white-space: nowrap;cursor: pointer}
.job{display: inline-block;width: 400px; height:100%;border-right: 1px solid #790202;}
.job:hover {background-color: rgba(117, 54, 54, 0.17);}
.job p{font-size: 12px;}

.importphase {
    text-align: center;
    margin-top: 180px;
}
.importbtn {
    margin-top: 40px;
}

.wrapper{
    margin-top:120px;
}

.genbtn{
    text-align: center;
}

#coursetable td{
	text-align: center;
	border: 0;
}

#coursetable .selected{
	background: #1B9AF7;
	color: white;
	class: button-glow;
}

#coursetable .course:hover{
	background-color: rgb(136, 202, 251);
}

#coursetitle {
	color: #55acee;
	font-size: 36px;
	text-align: center;
}

.job {position: relative;}
.job a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cover{
    width: 100%;height: 100%;position: absolute;
    background-color: rgba(255,255,255,0.8);z-index:8;
    top:0;left:0;
    color:#5d5d5d;
    display: none;
}

.job a:hover .cover{
    display: block;
};
